html {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-color: antiquewhite;
    text-align: center;
   /* border-style: solid; */
}

#car {
    height: 50px;
    border-style: solid;
}

#greetingsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /*This centers the element both vertically and horizontally*/
   
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
#greetings {
    height: 140px;
    width: 55vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-width: 2px;
    border-color: red;
    border-style: dashed;
    border-radius: 10px;
    padding: 5px;
}

#quote  {
   height: 100px;
   width: 25vh;
   border-style: dashed;
   border-width: 2px;
   border-color: rgb(141, 46, 54);
   border-radius: 10px;
}

#quotee, #submitButton {
    border-style: dashed;
    border-width: 2px;
    border-color: rgb(143, 63, 57);
    
}
@media only screen and (max-device-width: 420px) {
    body {
        font-size: 28px;
    }
    button, #quotee {
        height: 55px;
        font-size: 20px;
    }
    #greetings {
        width: 80vw;
        height: 200px;
    }
    #car {
        height: 70px;
    }
    
}

